@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

* {
  transition:
    color 50ms ease,
    background-color 200ms ease;
}

#cursor-plane,
#cursor,
#follower {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  #cursor-plane,
  #cursor,
  #follower {
    display: block;
  }

  * {
    cursor: none !important;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.dark .header {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #000000 1px);
}

.header {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #ffffff 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
}

.load-opacity {
  animation: fadeIn 1s ease;
}

.experience-overlay {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 76%,
      rgb(255, 255, 255) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 97%, rgb(255, 255, 255) 100%),
    linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 3%);
}

.dark .experience-overlay {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 76%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 3%);
}

@media (max-width: 700px) {
  .experience-overlay {
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 92%,
        rgb(255, 255, 255) 100%
      ),
      linear-gradient(90deg, rgba(0, 0, 0, 0) 95%, rgb(255, 255, 255) 100%),
      linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 5%);
  }

  .dark .experience-overlay {
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 92%,
        rgba(0, 0, 0, 1) 100%
      ),
      linear-gradient(90deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 1) 100%),
      linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 5%);
  }
}

.gradient-canvas {
  --gradient-color-1: #000000;
  --gradient-color-2: #ef4444;
  --gradient-color-3: #111111;
  --gradient-color-4: #9b0000;
}

.dark .gradient-canvas {
  --gradient-color-1: #1b1b1b;
  --gradient-color-2: #ef4444;
  --gradient-color-3: #b90000;
  --gradient-color-4: #1d1d1d;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
