@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

* {
  transition:
    color 50ms ease,
    background-color 200ms ease;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.dark .header {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #000000 1px);
}

.header {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #ffffff 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
}

.load-opacity {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
