@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow: hidden;
}

* {
  transition:
    color 50ms ease,
    background-color 200ms ease;
}

@media (hover: hover) and (pointer: fine) {
  #main-scroll::-webkit-scrollbar {
    width: 10px;
  }

  #main-scroll::-webkit-scrollbar-thumb {
    background: #00000030;
  }

  #main-scroll::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .dark #main-scroll::-webkit-scrollbar-thumb {
    background: #ffffff25;
    border-radius: 999px;
  }

  .dark #main-scroll::-webkit-scrollbar-track {
    background: #000000;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.dark .header {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #000000 1px);
}

.header {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #ffffff 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
}

.load-opacity {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
